<h1>Lista de productos</h1>
<table>
  <tr>


    <thead>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
    </thead>
  </tr>
    <% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td>
      <%= link_to "Mostrar" %>
      <%= link_to "Editar", edit_product_path(product)%>
      <%= link_to "Eliminar", product, method: :delete, data: { confirm: "Deseas eliminar?"} %>
    </td>
  </tr>
    <% end %>
</table>
